version: "3.9"

services:
  postgres:
    image: postgres:17-alpine
    container_name: athletiq_postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./server
    container_name: athletiq_backend
    restart: always
    depends_on:
      - postgres
    environment:
      PORT: 5000
      CLIENT_URL: http://localhost:5173
      DB_USER: ${DB_USER}
      DB_HOST: postgres
      DB_NAME: ${DB_NAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_PORT: 5432
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - "5000:5000"
    volumes:
      - ./server:/app
    command: ["sh", "-c", "sleep 5 && node server.js"]

  frontend:
    build: ./client
    container_name: athletiq_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5173:80"
    environment:
      - VITE_CLIENT_URL=http://localhost:5000/api/v1
    stdin_open: true
    tty: true

volumes:
  pgdata:
